@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    width: 100%;
    height: 100%;
    background-color: #252b37;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px
}

body {
    display: flex;
    height: 95%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-content {
    display: flex;
    margin: 5rem;
    width: 35rem;
    height: 12rem;
    border-radius: 6px;
    padding-left: 25px;
    padding-right: 25px;
    flex-direction: column;
    background-color: white;
    justify-content: space-evenly;
    box-shadow: rgb(0 0 0) 29px 34px 92px -18px;
}

.modal-title {
    margin-top: -10px;
}

.modal-body {
    margin-top: 2px;
    margin-bottom: 5px;
}

.modal-body .container {
    height: 20px;
    padding-left: 0;
    border-radius: 10px;
    background-color: #87878729;
    box-shadow: rgb(211 211 211) 1.2px 2px 8px 0px inset, rgb(255 255 255) -3.2px -3.2px 8px 0px inset;
}

@keyframes loading {
    0% {
        background-position: 700% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.container .progress-bar {
    display: flex;
    width: 0;
    height: 100%;
    font-size: 10px;
    text-align: end;
    font-weight: 700;
    border-radius: 10px;
    align-items: center;
    justify-content: flex-end;
    background-image: linear-gradient(to right, #8484ff, #b4b4ff, #84a5ff, #8497ff, #b4b4ff, #8484ff, #8484ff, #b4b4ff, #84a5ff, #8484ff);
    animation: loading 30s linear infinite;
    transition: opacity .3s ease-in-out;
    background-size: 600%;
}

.progress-bar label {
    margin-right: 8px;
    color: white;
    font-size: 11px;
}

.modal-footer {
    display: flex;
    justify-content: center;
}